 <div id="pop_up_discount" class="w3-modal">
	    <div class="w3-modal-content" style="width:450px;">
	      <div class="w3-container w3-text-black"> 
	      	
		      	<span onclick="document.getElementById('pop_up_discount').style.display='none';" style="margin-right:5px;margin-top:5px" class="w3-display-topright w3-padding w3-btn w3-border w3-black w3-border-white w3-hover-white w3-round w3-small">
		      		<i class="fa fa-times w3-large" aria-hidden="true"></i>
		      	</span>

		       <form role="form" method="post" id="discount_form" class="w3-container" >
		       	{% csrf_token %}
					<div class="w3-display-container w3-text-black w3-padding-16">
		
						<h1 style="font-family: 'ChristopherHand';font-size:36px!important;">Your Discount Code</h1>
						<p>
					  	{{ discount_form.discount_code }}
						</p>
                        <p>
                        <span id="id_discount_desc" class="w3-tiny w3-text-orange w3-margin-left">{{ discount_form.discount_desc.value }}</span>
                        </p>
		
					</div>
				
		       <div id="message_footer" style="margin-left:0px;margin-bottom:10px">
		       		
		       		<span id="submit_code_button" onclick="submit_discount();" class="w3-btn w3-border w3-black w3-border-white w3-hover-white w3-round w3-small" style="margin-top:5px">Submit Code</span>
                    <span id="remove_code_button" onclick="remove_discount();" class="w3-btn w3-border w3-black w3-border-white w3-hover-white w3-round w3-small" style="margin-top:5px">Remove Code</span>
		       		<span onclick="document.getElementById('pop_up_discount').style.display='none';" class="w3-btn w3-border w3-black w3-border-white w3-hover-white w3-round w3-small" style="margin-top:5px">Cancel</span>
			     
			   </div>

			   </form>
	      </div>
	    </div>
 
</div>

<script>

	inputList = document.querySelectorAll("textarea");

        var i;
        for(i=0; i < inputList.length; i++){
        	
        	inputList[i].classList.add("w3-input");  
        	inputList[i].classList.add("w3-border"); 
        	inputList[i].classList.add("w3-padding");
        	inputList[i].classList.add("w3-hover-orange");
        	inputList[i].classList.add("w3-round");
        	inputList[i].classList.add("w3-text-orange");
        }
    update_remove_code_button()

    function remove_discount(){

        add_spinner('remove_code_button',"Removing . . .");
        disable_el('remove_code_button');

        document.getElementById("id_discount_code").value = "";
        format_discount_data();
    }

    function submit_discount(){

        add_spinner('submit_code_button',"Submitting . . .");
        disable_el('submit_code_button');
        format_discount_data();
        
    }
    

    function format_discount_data(){

    	var form_elements = document.getElementById('discount_form').elements;
    	var obj = {};

    	for (var i=0; i < form_elements.length; i++){

    		var item = form_elements.item(i);
    		
    		obj[item.name] = item.value.trim();

    	}
    	
    	updateDiscountDetails(obj);
    }

    function update_discount_details_data(new_form_data, old_form_data, discount_message){


    	var new_obj = JSON.parse(new_form_data)
        var old_obj = JSON.parse(old_form_data)

    	var changed = false;

    	for (item in new_obj){
            
            //not everything in obj will be on the page so check if exists before trying to update
            
            if(document.getElementById("id_" + item)){
    		  document.getElementById("id_" + item).value =new_obj[item];
              document.getElementById("id_" + item).innerHTML =new_obj[item];
            }
            if(document.getElementById("id_" + item + "_ro")){
    	       	document.getElementById("id_" + item + "_ro").innerHTML =new_obj[item];	
            }
            if(changed == false){

                if(new_obj[item] != old_obj[item]){
                        changed = true;
                    }
            } 

    	}   

        update_remove_code_button()


        if (changed == true){
            populate_pop_up_message("Your ", "Discount Code ", " has been updated. " + discount_message, false);
        }else{
            populate_pop_up_message(discount_message,"","",false);
        }  
        
        enable_el('submit_code_button');
        remove_spinner('submit_code_button',"Submit Code")

        enable_el('remove_code_button');
        remove_spinner('remove_code_button',"Remove Code")
    }

    function update_remove_code_button(){

        remove_btn = document.getElementById("remove_code_button");
        
        if(document.getElementById("id_discount_code").innerHTML == ""){

            //remove_btn.className = remove_btn.className.replace("w3-show", "w3-hide")
            remove_btn.style.visibility = "hidden";
            //remove_btn.className += "w3-disabled"
        }else{
           
            //remove_btn.className = remove_btn.className.replace("w3-disabled", "")
            remove_btn.style.visibility = "";
        }

    }

</script>