
{% load static %}
		<div id="myRefundModal" class="w3-modal">
			<div class="w3-modal-content w3-card-4">
				<header class="w3-container w3-black">
					<img src="{% static 'images/base/shady_dog_logo.jpg' %}" alt="logo" class="w3-display-topmiddle w3-image w3-circle w3-hide-medium w3-hide-large" style="width:30%;margin-top:5px;">

					<img src="{% static 'images/base/shady_dog_logo.jpg' %}" alt="logo" class="w3-display-topmiddle w3-image w3-circle w3-hide-small" style="width:10%;margin-top:5px;">

					<span onclick="document.getElementById('myRefundModal').style.display='none'" 
						class="w3-button w3-display-topright w3-hover-orange">&times;</span>
					<h2>&nbsp;</h2>
				</header>
				<div class="w3-container w3-orange w3-text-black w3-small">

<style>
	ul{
		list-style-type: none;
	  	margin: 0;
	  	padding: 0;
	}
</style>




<h1>Return and Refund Policy</h1>
<p>Last updated: February 24, 2021</p>
<p>Thank you for shopping at Shady Dog Design.</p>
<p>We offer a 14-day return policy; the 14 days start from the day on which you receive your order.</p>
<p>Please ensure to use sturdy packaging when returning any item.<br>Do not send us returns without first getting an email authorisation from Shady Dog Design.<br> Please enclose a copy of the email in your return, as we cannot accept returns we know nothing about. </p>
<p>When returning an item please use recorded delivery, as we can not process refunds or replacements for items we never receive.
</p>
<p>If you wish to return anything we must receive it within 7 days of our return authorisation email being issued.<br> Upon satisfactory receipt we will refund your credit or debit card the relevant amount less shipping.</p>
<p>In the unlikely event of receiving a damaged product(s), please notify us via email within 7 days to support@shadydogdesign.com<p>

<h2>Contact Us</h2>
<p>If you have any questions about our Returns and Refunds Policy, please contact us:</p>
<ul>
<li>support@shadydogdesign.com</li>
</ul>


<br>

</div>

<footer class="w3-container w3-black">

	<span class="w3-button w3-small w3-black w3-hover-orange" onclick="document.getElementById('myRefundModal').style.display='none'">Close</span>
	
</footer>
</div>
</div>