{% extends 'base.html' %}
    {% block content %}
    {% load static %}
        {% block head_style %}
            <style>
                input {
                    width: 100%;
                    padding: 12px 20px;
                    margin: 2px 0;
                    box-sizing: border-box;
                    border-radius: 10px;
                    border: none;
                }

                @media screen and (max-width: 480px) {
                    #the_padding {padding: 10px;}
                }


            </style>
        {% endblock %}

        <div class="w3-padding-16 w3-section w3-content w3-justify w3-text-grey">
        
            <div class="w3-container" >

                <div class="w3-container w3-text-black">
                   {% if form.errors %}
                            {% for key,value in form.errors.items %}
                                {% for error in value %}
                                <div class="style-msg errormsg">
                                    <div class="w3-text-orange"><i class="icon-info-sign"></i>{{ error }}</div>
                                </div>
                                {% endfor %}
                            {% endfor %}
                    {% endif %}
                        <form role="form"  method="post">
                                        
                            {% csrf_token %}
                                            
                             <label for="id_email" class="w3-text-white ">Enter your Email</label>
                               <div > <input type="email" name="email" autocomplete="email" maxlength="254" required id="id_email"></div>
                                <br>
                                <p>                 
                                <div >
                                <button type="submit" class="w3-left w3-margin-bottom w3-btn w3-border w3-black w3-border-white w3-hover-orange w3-round w3-medium" style="font-family: 'Montserrat';margin-bottom:10px;">SEND RESET EMAIL</button>
                              
                                </div>
                            </p>
                            

                        </form>
                </div>

            </div> 
            
                    
                        
        </div>

    {% endblock %}