{% extends 'base.html' %}
    {% block content %}
    {% load static %}
        {% block head_style %}

        {% endblock %}

        <div class="w3-padding-16 w3-section w3-content w3-justify w3-text-grey">
        
            <div class="w3-container w3-text-white" style="text-align: center">

                   
                       Your password reset has been completed.
                       <br><br>
                       <a href="{% url 'login' %}" class="w3-bar-item w3-button w3-padding-large w3-hover-black">Log In</a>
              

            </div> 
            
                    
                        
        </div>

    {% endblock %}