{% extends 'base.html' %}
    {% block content %}
    {% load static %}
        {% block head_style %}

        {% endblock %}

        <div class="w3-padding-16 w3-section w3-content w3-justify w3-text-grey">
        
            <div class="w3-container w3-text-white" style="text-align: center">

                   
                       Your password has been updated.
                      
              

            </div> 
            
                    
                        
        </div>

    {% endblock %}