{% extends 'base.html' %}
    {% block content %}
    {% load static %}
        {% block head_style %}

        {% endblock %}

        <div class="w3-padding-16 w3-section w3-content w3-justify w3-text-grey">
        
            <div class="w3-container w3-text-white" style="text-align: center">

                   
                       We have just emailed you a link to reset your password. It's either in your INBOX or your SPAM folder.
                       <br><br>
                       (If you do not receive it, please try again ensuring you have typed your email address correctly)
              

            </div> 
            
                    
                        
        </div>

    {% endblock %}