{% extends 'base.html' %}
{% load global_extras %}
{% load product_extras %}
{% load order_extras %}
{% load cart_extras %}
{% load static %}
{% block title %}
{% if product %} 
{{ product.product_display_name }}
{% else %}
{% return_site_name %} Product
{% endif %}
{% endblock title %}
{% block head_js %}
	<script src="{% static 'js/main.js' %}"></script> 
	<script src="https://scripts.sirv.com/sirv.nospin.js"></script>
{% endblock head_js %}
{% block head_style %}
	<style>
		.sirv-zoom-thumbnails li {
		  border: 1px solid black;

		}
		.sirv-zoom-thumbnails li.sirv-thumb-selected {
		    border: 1px solid #ff9800;
		  }
		  .sirv-zoom-button {
  width: 20px;
  height: 20px;
}
.sirv-zoom-nav-controls {
  width: 22px;
}
	</style>
{% endblock head_style %}

{% block content %}


	{% include "pop_up_message.html" %}	

	<!-- Styles Section -->
	  <div id="products" class="w3-padding-32 w3-section w3-content w3-justify w3-text-grey" id="styles" style="max-width:1200px">
	    
	    <!-- Grid for photos -->
	    <div class="w3-row-padding" style="margin:0 -16px">
	      
	     {% get_max_items_allowed_in_cart as cart_max %}

	     {% if product %}	

	      	{% get_total_product_items_available product.id as stock_level %}
	      	{% get_max_per_purchase product.id as max_allowed %}
	      	
		      <div class="w3-half">
		        
					<div class="w3-display-container w3-text-black w3-padding-16">

			
			            {% if product.product_image_sirv_1 %}


			            	<div class="Sirv" data-effect="zoom" style="width:100%" data-options="thumbnails=#sirv_thumbnails;squareThumbnails:false;thumbnails:bottom;map:true">
			            		<img data-src="{{ product.product_image_sirv_1 }}?canvas.height=1500" />
						  		<img alt="{{ product.product_image_2_desc }}" data-src="{{ product.product_image_sirv_2 }}?canvas.height=1500" />
						  		<img alt="{{ product.product_image_3_desc }}" data-src="{{ product.product_image_sirv_3 }}?canvas.height=1500" />
						  		<img alt="{{ product.product_image_4_desc }}" data-src="{{ product.product_image_sirv_4 }}?canvas.height=1500" />
						  		<img alt="{{ product.product_image_5_desc }}" data-src="{{ product.product_image_sirv_5 }}?canvas.height=1500" />
							</div>
							 <div id="sirv_thumbnails" class="w3-container w3-black"></div>

			            {% else %}
			            	<img src="{% get_media_prefix %}{{ product.product_image_1 }}" style="width:80%" title="{{ product.product_image_1_desc }}">

	         			{% endif %}

			            <div class="w3-container w3-black">
						      <div style="word-break: break-word;font-family: 'ChristopherHand';font-size:48px!important;">{{ product.product_display_name }}
						      <img src="{% static 'images/base/shady_dog_logo.jpg' %}" alt="logo" class="w3-image w3-circle" width="30px">
						      </div>
						     {% if user.is_superuser %}
			                		<div class="w3-small w3-text-orange" style="font-family:'Montserrat';">Remaining Stock: {{ stock_level }}</div>
			                	{% endif %}
						</div>
						     
				       
			      	</div>
		        
		      </div>
		      <div class="w3-half">
		        
					<div class="w3-display-container w3-text-black w3-padding-16">

			
			            <div class="w3-card-4" style="width:100%;">
						    

						    <div class="w3-container w3-black">
						      	{% autoescape off %}{{ product.product_long_description }}{% endautoescape %} 
						     
						      <p>
						      	{% if product.id == 2 %}
						      	
						      		<span style="text-decoration:line-through;text-decoration-color: #ff9800">EUR&nbsp;59.00<span class="w3-tiny"> (excl. shipping)</span></span> </p>
						      		{{ product.product_price_currency }}&nbsp;{{ product.product_price }} <span class="w3-tiny">(excl. shipping)</span>
						      		<br>
						      		
						      		<span class="w3-tiny">(LIMITED TIME INTRODUCTORY OFFER)</span>
						      	{% else %}

						      		{{ product.product_price_currency }}&nbsp;{{ product.product_price }} <span class="w3-tiny">(excl. shipping)</span>
						      								      		
						      	{% endif %}
						      </p>
						      <p>
						      	<div class="w3-container w3-margin-bottom w3-tiny" style="padding:0px"> Choose Quantity:</div>
						      	<button onclick="decrease_quantity('quantity_selected', {% if max_allowed == 0 %}{{ cart_max }}{% else %}{{ max_allowed }}{% endif %} )" class="w3-btn w3-border w3-border-orange w3-hover-white w3-tiny w3-round"><i class="fa fa-minus" aria-hidden="true"></i></button>
						      	<button id="quantity_selected" class="w3-btn w3-small w3-round" style="width:40px">{{ quantity }}</button>
						      	<button onclick="increase_quantity('quantity_selected', {% if max_allowed == 0 %}{{ cart_max }}{% else %}{{ max_allowed }}{% endif %} )" class="w3-btn w3-round w3-tiny w3-border w3-border-orange w3-hover-white"><i class="fa fa-plus" aria-hidden="true"></i></button>
						      	</p>
						    </div>

						    <footer class="w3-container w3-black">
						   
					      		{% if stock_level > 0 %}
					                  <a id="{{ product.id }}" onclick="add_item_to_cart({{product.id}},'{{ product.product_display_name }}');" class="w3-btn w3-round w3-medium w3-border w3-border-white w3-hover-orange" style="width:132px">Add to Cart</a>
				                {% else %}
					                  
					                  <a id="{{ product.id }}" href="javascript:void(0)" class="w3-btn w3-round w3-medium w3-border w3-border-white w3-hover-white w3-disabled" style="width:132px">SOLD OUT</a>
				                {% endif %}

				                
				                
						    </footer>

					   </div>

			            

				       
			      	</div>
		        
		      </div>

		{% endif %}

	      
	    <!-- End photo grid -->
	    
	    </div>
	  <!-- End Styles Section -->
	  </div>


{% endblock content %}


{% block footer_js %}

<script>

	window.onload = function(){
		//update_sirv_image("{{ product.product_image_sirv_1 }}", "{{ product.product_image_sirv_1_desc }}")
		show_styles();
		
		styleList = document.querySelectorAll(".style_item");

        var i;
        for(i=0; i < styleList.length; i++){
        	
        	if(styleList[i].innerHTML == '{{ product.product_display_name }}'){
        		styleList[i].parentNode.classList.add("w3-border");
        		styleList[i].parentNode.classList.add("w3-border-orange");
        	}
        }
		
	}

	

	function increase_quantity(quantity_id, the_max){
		
		el=document.getElementById(quantity_id);
		current_quantity = parseInt(el.innerHTML);

		if (current_quantity > 0 && current_quantity < the_max){
			current_quantity = current_quantity + 1
		}

		el.innerHTML = current_quantity;

	}

	function decrease_quantity(quantity_id, the_max){
		
		el=document.getElementById(quantity_id);
		current_quantity = parseInt(el.innerHTML);

		if (current_quantity <= the_max && current_quantity > 1){
			current_quantity = current_quantity - 1
		}

		el.innerHTML = current_quantity;


	}

	function get_quantity(){
		current_quantity = document.getElementById("quantity_selected").innerHTML;

		return current_quantity;

	}


	function add_item_to_cart(product_id,product_name){

		quantity = get_quantity();	
		addItemToCart(product_id,product_name,quantity);

	}



</script>


{% endblock footer_js %}